{% extends 'base.html.twig' %}

{% block body %}
    <h1>home page</h1>

    <p>
        welcome to the home page !!
    </p>

    {% for port in ports %}
        <div id="merch">
        <table>
        <thead>
        <tr>

            <th>Name</th>
            <th>Photo</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th id ="price">Price</th>
            <th id ="rev">Reviews</th>

            {% if is_granted('ROLE_ADMIN') %}
                <th>Public</th>
                <th>actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ port.portName }}</td>
            <td><img class="items"  src="/images/{{ port.photo }}"> </td>
            <td>{{ port.description }}</td>
            <td>{{ port.ingredients }}</td>
            <td>€{{ port.priceRange }}</td>

            <td>
                {% for review in port.productReviews %}
                    <a href="{{ path('review_show', {'id': review.id}) }}">review</a>
                {% endfor %}


            </td>
            {% if is_granted('ROLE_ADMIN') %}
                <td>{{ port.isPublic ? 'Yes' : 'No' }}</td>


                <td>
                     <a href="{{ path('port_edit', {'id': port.id}) }}">edit</a>
                </td>

            {% endif %}

        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
        </tbody>
        </table>
        </div>
    {% endfor %}

{% endblock %}
