{% extends 'base.html.twig' %}

{% block body %}
    <h1>home page</h1>

    <p>
        welcome to the home page !!
    </p>

    {% for port in ports %}
        <div id="merch">
        <table>
        <thead>
        <tr>

            <th>Name</th>
            <th>Photo</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th>Price</th>

        </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{ port.portName }}</td>
            <td>{{ port.photo }} </td>
            <td>{{ port.description }}</td>
            <td>{{ port.ingredients }}</td>
            <td>{{ port.priceRange }}</td>

        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
        </table>
        </div>
    {% endfor %}



{% endblock %}
