{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}

{% block body %}

    <h1>Review</h1>

    <table>
        <tr>
            <th>Id</th>
            <td>{{ review.id }}</td>
        </tr>
        <tr>
            <th>Review</th>
            <td>{{ review.review }}</td>
        </tr>
        <tr>
            <th>PlaceOfPurchase</th>
            <td>{{ review.placeOfPurchase }}</td>
        </tr>
        <tr>
            <th>PricePaid</th>
            <td>{{ review.pricePaid }}</td>
        </tr>
        <tr>
            <th>NumOfStars</th>
            <td>{{ review.numOfStars }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td>{{ review.user }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ review.date ? review.date|date('D-m-y') : '' }}</td>
        </tr>

    </table>

    <a href="{{ path('review_index') }}">back to list</a>

    <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>

    {% include 'review/_delete_form.html.twig' with {'identifier': review.id} only %}

{% endblock %}