{% extends 'base.html.twig' %}

{% block title %}Port index{% endblock %}

{% block body %}

    <h1>Port index</h1>
    <table>
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>PortName</th>
                <th>Photo</th>
                <th>Description</th>
                <th>ingredients</th>
                <th>Price</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for port in ports %}
            <tr>
                {#<td>{{ port.id }}</td>#}
                <td>{{ port.portName }}</td>
            <td><img class="items"  src="/images/{{ port.photo }}"> </td>
                <td>{{ port.description }}</td>
                <td>{{ port.ingredients }}</td>
                <td>{{ port.priceRange }}</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('port_show', {'id': port.id}) }}">show</a>
                    <a href="{{ path('port_edit', {'id': port.id}) }}">edit</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('port_new') }}">Create new</a>
    {% endif %}
{% endblock %}