{% extends 'base.html.twig' %}

{% block title %}Port index{% endblock %}

{% block body %}

    <h1>Port index</h1>
    <table>
        <thead>
            <tr>

                <th>Port Name</th>
                <th>Photo</th>
                <th>Description</th>
                <th>Ingredients</th>
                <th>Price </th>
                <th>Reviewed By</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Is Public</th>
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for port in ports %}
            <tr>

                <td>{{ port.portName }}</td>
                <td>{{ port.photo }}</td>
                <td>{{ port.description }}</td>
                <td>{{ port.ingredients }}</td>
                <td>€ {{ port.priceRange }}</td>
                 <td>{{ port.reviewedBy }}</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td>{{ port.isPublic ? 'Yes' : 'No' }}</td>


                <td>
                    <a href="{{ path('port_show', {'id': port.id}) }}">show</a>
                    <a href="{{ path('port_edit', {'id': port.id}) }}">edit</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('port_new') }}">Create new</a>
    {% endif %}
{% endblock %}